* {
    box-sizing: border-box;
  }
  
  :root {
    --color-bg: #4F73EF;
    --color-active: #ffffff;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  header {
    background-color: var(--color-bg);
    padding: 20px;
    text-align: center;
    
  }
  header > a {
    color: white;
    text-decoration: none;
    padding: 20px;
  }

  header > a:hover {
    background-color: #355BDE;
    padding:20px 20px
  }
  
  .active {
    color: var(--color-active);
    cursor: default;
  }