h1{
    margin-top: 50px;
    text-align: left;
    margin-left: 100px;
    font-weight: 350;
}

.schedule-form {
    margin: 20px;
  }

  
  .schedule {
    margin-top: 30px;
    text-align: center;
  }
  
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .params{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .editSch{
    cursor: pointer;
    background-color: #4F73EF;
    border: 2px solid #355BDE;
    border-radius: 6px;
    padding: 5px;
    color: white;
    white-space: nowrap;
  }

  .editSch:hover{
    background-color: #4664d1;
  }

  th,
  td {
    padding: 30px;
    border: 1px solid #ccc;
    width: 12%;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: 450;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  .input-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
  }

  .edit{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .add-pair {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }

  .chooseWeek{
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .semestr{
    font-weight: 400;
    font-size: 15px;
  }

  .chooseDate{
    display: flex;  
    flex-direction: column;
    align-items: center;
  }

  .add-schedule{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column-reverse;
    align-items: center;
  }

.warning{
  color: rgb(209, 0, 0);
  font-size: 14px;
}

  
/* .error {
  border-color: rgb(173, 8, 8);
} */

.save-btn{
    cursor: pointer;
    background-color: #35bc16;
    border: 2px solid #2f9119;
    border-radius: 6px;
    padding: 5px;
    color: white;
    white-space: nowrap;
}

.save-btn:hover{
  background-color: #2fa515;
}

/* .delete-btn{
    cursor: pointer;
    background-color: #d21919;
    border: 2px solid #b81f1f;
    border-radius: 6px;
    padding: 5px;
    color: white;
    white-space: nowrap;
}

.delete-btn:hover{
  background-color: #b71919;
} */

.add-params{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 100px;
}